{% load static %}

<!-- Other meta tags and stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link rel="stylesheet" href="{% static 'app/style.css' %}">
  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <header>
        <h1><a style="text-decoration: none; color: aquamarine; margin-left: 100px;" href="{% url 'index' %}">gepet</a></h1> <h1><a style="text-decoration: none; color: white;" href="{% url 'index' %}">ê</a></h1>
    </header>


    <div class="container">
        <div class="button-row">
            <div class="button-container">
                <a style="text-decoration: none;" href="{% url 'chat' %}">
                    <button class="chat-button"><i class="fas fa-comments"></i> chat</button>                    
                </a>
                <a style="text-decoration: none;" href="{% url 'img' %}">
                    <button class="img-button"><i class="fa-solid fa-image"></i> imagens</button>
                </a>
            </div>
            <div class="spacing"></div>
            <div class="button-container">
                <a style="text-decoration: none;" href="{% url 'aud' %}">
                    <button class="aud-button">
                        <i class="fa fa-music"></i> áudio
                    </button>
                </a>
                <a style="text-decoration: none;" href="{% url 'file' %}">
                    <button class="file-button" disabled><i class="fa fa-file"></i> arquivos</button>          
                </a> 
            </div>
        </div>
    </div>
</body>
</html>
